<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Category</Name>
    <Alias>BlogCategory</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>BlogExtras</Master>
    <Compositions>
      <Composition>BlogExtras</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>