@using BlogMomentum.Models;
@inherits UmbracoViewPage<IPublishedContent>
@*
	The Model Passed is expected to be the BlogListing Doctype
*@
@{


		int firstPostYear = Model.Children.OrderBy(r => r.GetPropertyValue<DateTime>("entryDate")).FirstOrDefault().GetPropertyValue<DateTime>("entryDate").Year;
		int thisYear = DateTime.Now.Year;


	<h3>Archive</h3>
	<ul class="list-unstyled">
		@for(int y = firstPostYear; y <= thisYear; y++) {
			<li style="margin-bottom:5px;"><a href="@(Model.Url)year/@y">@y</a></li>
			}


	</ul>
}
