@inherits UmbracoViewPage<IPublishedContent>
@*
The Model Passed is expected to be the BlogListing Doctype
*@
@{
	var authors = uQuery.GetNodesByType("BlogAuthor");
	if (authors.Count() > 0) {
		<h3>Authors</h3>
		<ul class="list-unstyled">
		@{

		foreach (var a in authors) {
				BlogMomentum.Models.BlogAuthor author = new BlogMomentum.Models.BlogAuthor(a.Id);
				<li>@if (author.PhotoUrl != null) {
                    <img src="@author.PhotoUrl.Src@author.PhotoUrl.GetCropUrl("Small Thumb")" alt="@author.Name" />
                } @author.Name</li>
			}
		}
	</ul>
}
}

