<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Blog - Simple RTE" Id="Umbraco.TinyMCEv3" Definition="0edd51aa-3f46-472b-9087-2db280c2473b" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="9" Value="{&#xD;&#xA;  &quot;toolbar&quot;: [&#xD;&#xA;    &quot;code&quot;,&#xD;&#xA;    &quot;bold&quot;,&#xD;&#xA;    &quot;italic&quot;,&#xD;&#xA;    &quot;bullist&quot;,&#xD;&#xA;    &quot;numlist&quot;,&#xD;&#xA;    &quot;outdent&quot;,&#xD;&#xA;    &quot;indent&quot;&#xD;&#xA;  ],&#xD;&#xA;  &quot;stylesheets&quot;: [],&#xD;&#xA;  &quot;dimensions&quot;: {&#xD;&#xA;    &quot;height&quot;: 100&#xD;&#xA;  },&#xD;&#xA;  &quot;maxImageSize&quot;: 500&#xD;&#xA;}" Alias="editor" SortOrder="0" />
    <PreValue Id="10" Value="" Alias="hideLabel" SortOrder="1" />
  </PreValues>
</DataType>