<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Blog - Tags" Id="Umbraco.Tags" Definition="6b6f7f3b-4361-45e6-bb3e-c70304a61fd2" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="23" Value="blog" Alias="group" SortOrder="0" />
    <PreValue Id="24" Value="Csv" Alias="storageType" SortOrder="1" />
  </PreValues>
</DataType>