<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Blog - Category Picker" Id="Umbraco.ContentPickerAlias" Definition="d96183fb-7958-4fbb-a7a2-70e8d088a939" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="21" Value="1" Alias="showEditButton" SortOrder="0" />
    <PreValue Id="22" Value="1069" Alias="startNodeId" SortOrder="1" />
  </PreValues>
  <Nodes>
    <Node Id="1069" Value="Blog Extras" Alias="startNodeId" Type="content" />
  </Nodes>
</DataType>