<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Blog Listing</Name>
  <Alias>BlogListing</Alias>
  <Design><![CDATA[@using BlogMomentum.Models;
@inherits UmbracoViewPage<BlogListing>
@{
	Layout = "BlogPage.cshtml";

	string title = Model.Title;
	if (Model.Search != null) {
		title = string.Format("Search results for <b>{0}</b>", Model.Search);
	}
	switch (Model.PageListingType) {
		case BlogListing.PageType.Author:
			title = string.Format("Posts by <b>{0}</b>", Model.PageKey);
			break;
		case BlogListing.PageType.Category:
			title = string.Format("Posts for <b>{0}</b>", Model.PageKey);
			break;
		case BlogListing.PageType.Tag:
			title = string.Format("Posts tagged with <b>{0}</b>", Model.PageKey);
			break;
	}
}


<header>
	<h1>@Html.Raw(title)</h1>
</header>
@Model.IntroContent
@foreach (var post in Model.BlogEntries) {
	@Html.Action("BlogPostSummary", "Blog", new { con = post }) //See /Views/Partials/Blog/PostSummary.cshtml
}
@if (Model.BlogEntries.Count() == 0) {
	if (Request.QueryString["search"] == null) {
		<h5>There are currently no blog posts</h5>
	} else {
		<h3>Your search did no find any results</h3>
	}
}
@if (Model.TotalPages > 1) {
	<ul class="pagination">
		<li @((Model.Page <= 1) ? "class=disabled" : "")>
			<a href="?page=@(Model.PreviousPage)" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		@for (int i = 1; i <= Model.TotalPages; i++) {
			<li @((Model.Page == i) ? "class=active" : "")><a href="?page=@i">@i</a></li>
		}
		<li @((Model.Page == Model.NextPage) ? "class=disabled" : "")>
			<a href="?page=@(Model.NextPage)" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
}]]></Design>
  <Master>BlogPage</Master>
</Template>