<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Post</Name>
    <Alias>BlogPost</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>BlogPages</Master>
    <Compositions>
      <Composition>BlogPages</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>BlogPost</Template>
    </AllowedTemplates>
    <DefaultTemplate>BlogPost</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Blurb</Name>
      <Alias>blurb</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>0edd51aa-3f46-472b-9087-2db280c2473b</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Short 2 paragraph description on the Blog post. This is shown on the listing page]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main blog article]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Main Image</Name>
      <Alias>mainImage</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>7a51045c-a920-4906-a992-8ca7f833822d</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Upload the main image for the blog]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Entry Date</Name>
      <Alias>entryDate</Alias>
      <Type>Umbraco.Date</Type>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Tab>Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date shown on the blog post]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>59db54d8-1443-462a-ab7e-a4608c7536dc</Definition>
      <Tab>Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Type>Umbraco.Tags</Type>
      <Definition>6b6f7f3b-4361-45e6-bb3e-c70304a61fd2</Definition>
      <Tab>Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>d96183fb-7958-4fbb-a7a2-70e8d088a939</Definition>
      <Tab>Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>20</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>21</Id>
      <Caption>Settings</Caption>
      <SortOrder>2</SortOrder>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>