<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Listing</Name>
    <Alias>BlogListing</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Master>BlogPages</Master>
    <Compositions>
      <Composition>BlogPages</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>BlogListing</Template>
    </AllowedTemplates>
    <DefaultTemplate>BlogListing</DefaultTemplate>
    <Container>True</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Opening Content</Name>
      <Alias>openingContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This content is displayed at the top of the page]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>17</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>