<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BlogAuthor ANY>
<!ATTLIST BlogAuthor id ID #REQUIRED>
<!ELEMENT BlogAuthors ANY>
<!ATTLIST BlogAuthors id ID #REQUIRED>
<!ELEMENT BlogExtras ANY>
<!ATTLIST BlogExtras id ID #REQUIRED>
<!ELEMENT BlogListing ANY>
<!ATTLIST BlogListing id ID #REQUIRED>
<!ELEMENT BlogPages ANY>
<!ATTLIST BlogPages id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogCategories ANY>
<!ATTLIST BlogCategories id ID #REQUIRED>
<!ELEMENT BlogCategory ANY>
<!ATTLIST BlogCategory id ID #REQUIRED>
<!ELEMENT MasterPage ANY>
<!ATTLIST MasterPage id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Textpage id="1059" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-12T21:06:48" updateDate="2015-09-13T01:26:34" nodeName="Home" urlName="home" path="-1,1059" isDoc="" nodeType="1053" creatorName="Admin" writerName="Admin" writerID="0" template="1052" nodeTypeAlias="Textpage">
    <content><![CDATA[<p>Blog Momentum</p>]]></content>
    <BlogListing id="1066" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2015-09-12T21:34:15" updateDate="2015-09-13T09:55:03" nodeName="Blog" urlName="blog" path="-1,1059,1066" isDoc="" nodeType="1062" creatorName="Admin" writerName="Admin" writerID="0" template="1061" nodeTypeAlias="BlogListing">
      <openingContent><![CDATA[<p>This is my Blog</p>]]></openingContent>
      <enableShareIcons>1</enableShareIcons>
      <twitterUsername><![CDATA[digitalmomentum]]></twitterUsername>
      <postsPerPage><![CDATA[10]]></postsPerPage>
      <commentsEnabled>1</commentsEnabled>
      <disqusShortname><![CDATA[digitalmomentum]]></disqusShortname>
      <BlogPost id="1067" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2015-09-12T21:37:47" updateDate="2015-10-09T17:38:06" nodeName="My First Post" urlName="my-first-post" path="-1,1059,1066,1067" isDoc="" nodeType="1064" creatorName="Admin" writerName="Admin" writerID="0" template="1063" nodeTypeAlias="BlogPost">
        <blurb><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare nisi in blandit rutrum. Donec egestas velit ligula, id dictum ipsum imperdiet at. Curabitur ut vehicula urna. Nullam in mauris imperdiet, convallis nunc a, ornare felis. Proin congue id leo ut tristique. Nam quam nisl, consectetur sed ante non, pharetra pharetra orci. Etiam sit amet mi tempor, aliquam mauris in, vehicula libero. Mauris quis erat ut diam tincidunt interdum vitae finibus metus. Phasellus quis mi elementum, pharetra erat in, fermentum lectus. Sed vulputate tellus scelerisque urna euismod tempus. Donec tempor magna ultricies, suscipit justo fringilla, lacinia libero. Duis ut aliquam nulla, eu consectetur risus. Integer ligula risus, consectetur vitae facilisis ac, malesuada vel lorem.</p>]]></blurb>
        <content><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare nisi in blandit rutrum. Donec egestas velit ligula, id dictum ipsum imperdiet at. Curabitur ut vehicula urna. Nullam in mauris imperdiet, convallis nunc a, ornare felis. Proin congue id leo ut tristique. Nam quam nisl, consectetur sed ante non, pharetra pharetra orci. Etiam sit amet mi tempor, aliquam mauris in, vehicula libero. Mauris quis erat ut diam tincidunt interdum vitae finibus metus. Phasellus quis mi elementum, pharetra erat in, fermentum lectus. Sed vulputate tellus scelerisque urna euismod tempus. Donec tempor magna ultricies, suscipit justo fringilla, lacinia libero. Duis ut aliquam nulla, eu consectetur risus. Integer ligula risus, consectetur vitae facilisis ac, malesuada vel lorem.</p>
<p>Morbi lacus tortor, pulvinar at blandit vitae, tincidunt at nunc. Vivamus rutrum eros nec lacus tincidunt tristique. Quisque vitae neque auctor leo blandit vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas varius mi luctus euismod hendrerit. Mauris ornare vulputate lacus, vel euismod velit tempor et. Sed tincidunt enim sed mi accumsan, nec pellentesque nulla elementum.</p>
<p>Phasellus mattis eros nunc, ac scelerisque nibh pretium eu. Cras tempus sodales lectus eget euismod. Praesent in turpis sodales, condimentum velit vitae, rutrum sapien. Nulla fringilla, mi nec iaculis dignissim, nisl mauris dictum massa, vel semper orci ligula ut dolor. Phasellus venenatis dignissim mi, in laoreet eros hendrerit non. Vestibulum ut orci suscipit, sagittis magna a, vestibulum felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vitae velit sit amet quam volutpat suscipit. Ut nec quam diam. Cras malesuada, leo ac fringilla posuere, arcu eros iaculis eros, a posuere tortor nibh vitae ipsum. Praesent dapibus cursus tellus, vel vehicula purus vulputate ac. In hac habitasse platea dictumst. Nunc vitae accumsan ex, in semper nisl. Mauris et porttitor lacus. Aenean ac ipsum condimentum, fringilla nisl sit amet, cursus eros.</p>
<p>Aenean at orci sed risus dignissim egestas. Etiam laoreet tincidunt leo, nec vulputate dui lacinia in. Nullam elementum sapien non enim scelerisque pulvinar. Fusce dictum molestie laoreet. Phasellus semper mauris rhoncus risus posuere malesuada. Fusce ut ex ut urna laoreet facilisis vel nec lectus. Suspendisse at erat magna. Sed scelerisque nunc et justo tempor, a elementum turpis interdum. Phasellus dictum vitae leo eget vulputate. Cras ut ante vestibulum, facilisis neque vel, aliquam enim. Sed commodo felis leo, non facilisis odio egestas nec.</p>
<p>Nam finibus ex ut arcu ullamcorper dignissim. Donec vel neque porttitor, semper ipsum in, ornare erat. Duis feugiat a odio eu blandit. Maecenas interdum, magna imperdiet congue varius, nunc velit aliquet sem, vel mollis massa ligula vel odio. Integer sed iaculis diam. Sed molestie ultrices ex, quis lacinia enim tempus in. Cras quis felis laoreet, eleifend metus vel, imperdiet eros. Praesent egestas, dui ac sagittis eleifend, massa diam ultricies enim, sit amet dignissim ex nibh eu ante.</p>]]></content>
        <mainImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1001/people-q-g-640-480-7.jpg",
  "crops": [
    {
      "alias": "Thumbnail",
      "width": 200,
      "height": 200,
      "coordinates": {
        "x1": 0.0582968678028558,
        "y1": 0.1957623215108244,
        "x2": 0.50987448180561978,
        "y2": 0.22846614463380971
      }
    },
    {
      "alias": "Article",
      "width": 400,
      "height": 600,
      "coordinates": {
        "x1": 0.033333333333333333,
        "y1": 0,
        "x2": 0.46666666666666667,
        "y2": 0
      }
    }
  ]
}]]></mainImage>
        <entryDate>2015-09-13T00:00:00</entryDate>
        <author><![CDATA[1090]]></author>
        <tags><![CDATA[Virgin Post,John]]></tags>
        <categories><![CDATA[1092]]></categories>
      </BlogPost>
      <BlogPost id="1093" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2015-09-13T01:12:35" updateDate="2015-10-09T17:38:06" nodeName="My Second Post" urlName="my-second-post" path="-1,1059,1066,1093" isDoc="" nodeType="1064" creatorName="Admin" writerName="Admin" writerID="0" template="1063" nodeTypeAlias="BlogPost">
        <content><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum aliquet venenatis. Integer nec justo consequat, ultrices massa ac, blandit orci. Maecenas id finibus risus, rutrum faucibus nunc. Suspendisse pulvinar nisl ligula, sit amet venenatis ligula ornare ut. Aenean dictum mi gravida sem rhoncus, sed sodales ipsum vulputate. Aliquam et erat lectus. Suspendisse potenti. Ut tincidunt finibus ante, eu elementum justo porta feugiat.</p>
<p>Duis non sapien tellus. Quisque tincidunt non dolor ac ornare. Ut bibendum porttitor ipsum et bibendum. Aenean a consectetur tortor. Vestibulum egestas nunc justo, non lacinia lorem imperdiet nec. Donec at sollicitudin nibh. Ut porta nibh nec augue porta convallis. Praesent id velit leo. Nullam finibus ultrices blandit. Curabitur auctor, neque auctor mollis rhoncus, risus nibh iaculis enim, id fringilla nunc nisi sit amet libero. Donec finibus nulla mi, at ultrices mauris congue sed. Sed non elit ac nibh gravida ullamcorper. Donec quis eros ullamcorper, sagittis augue sit amet, consectetur neque. Nullam tempus sapien id placerat facilisis.</p>
<p>Morbi non nibh urna. Donec rutrum porttitor aliquam. Maecenas malesuada purus sem, non fermentum tellus tincidunt et. Mauris at mollis ante. Vivamus ut mi quis lacus dapibus porta ut vitae tellus. Cras eget sem fermentum, malesuada nibh et, facilisis purus. Duis ornare diam non neque fringilla iaculis. Etiam pulvinar tristique fringilla. Nam eu pulvinar orci. Pellentesque est neque, vehicula at auctor sit amet, facilisis in elit. Maecenas aliquet ac enim vel imperdiet. Donec euismod pellentesque felis sed egestas. Maecenas sollicitudin enim sed lacinia suscipit. Nulla sed tortor nec ligula auctor vehicula. Aenean commodo purus enim, vitae faucibus risus accumsan eget. Nunc commodo viverra sem quis pellentesque.</p>
<p>Mauris mi nisl, maximus ac diam et, sollicitudin aliquet leo. Sed justo odio, consequat vitae pharetra vitae, vehicula at leo. Nam quis tempor libero. Sed eu fringilla lacus. Morbi pretium commodo mi. Praesent ac lacus justo. Mauris non tristique nibh.</p>
<p>Maecenas quis pretium lorem. Etiam lorem enim, aliquet bibendum dignissim ac, vehicula non enim. Fusce aliquet neque vitae purus sagittis, ut pulvinar odio condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere sit amet tortor nec ornare. Cras aliquet leo ut elit iaculis maximus. Proin eleifend lacus justo, quis vestibulum nulla varius non. Maecenas in nulla lectus. Phasellus ex magna, ultricies et porta id, blandit sed risus. Nullam ut nulla et eros commodo dictum. Phasellus erat lectus, luctus eu magna ac, tristique ultrices neque. Duis rhoncus odio ut mauris posuere consequat. Cras sagittis fermentum varius.</p>]]></content>
        <mainImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1003/city-q-g-640-480-2.jpg",
  "crops": [
    {
      "alias": "Thumbnail",
      "width": 200,
      "height": 200
    },
    {
      "alias": "Article",
      "width": 400,
      "height": 600
    }
  ]
}]]></mainImage>
        <entryDate>2015-09-13T00:00:00</entryDate>
        <author><![CDATA[1090]]></author>
        <tags><![CDATA[John]]></tags>
        <categories><![CDATA[1092,1091]]></categories>
      </BlogPost>
    </BlogListing>
  </Textpage>
  <BlogExtras id="1087" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-09-13T01:10:18" updateDate="2015-09-13T21:55:38" nodeName="Blog Extras" urlName="blog-extras" path="-1,1087" isDoc="" nodeType="1054" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="BlogExtras">
    <BlogAuthors id="1088" parentID="1087" level="2" creatorID="0" sortOrder="0" createDate="2015-09-13T01:10:19" updateDate="2015-09-13T21:55:38" nodeName="Authors" urlName="authors" path="-1,1087,1088" isDoc="" nodeType="1056" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="BlogAuthors">
      <BlogAuthor id="1090" parentID="1088" level="3" creatorID="0" sortOrder="0" createDate="2015-09-13T01:11:07" updateDate="2015-09-13T21:55:39" nodeName="John Smith" urlName="john-smith" path="-1,1087,1088,1090" isDoc="" nodeType="1055" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="BlogAuthor">
        <photo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1002/people-q-c-300-300-8.jpg",
  "crops": [
    {
      "alias": "Thumbnail",
      "width": 128,
      "height": 128
    },
    {
      "alias": "Small Thumb",
      "width": 32,
      "height": 32
    }
  ]
}]]></photo>
        <blurb><![CDATA[<p>John smith has years of experiance</p>]]></blurb>
      </BlogAuthor>
    </BlogAuthors>
    <BlogCategories id="1089" parentID="1087" level="2" creatorID="0" sortOrder="1" createDate="2015-09-13T01:10:19" updateDate="2015-09-13T21:55:39" nodeName="Categories" urlName="categories" path="-1,1087,1089" isDoc="" nodeType="1058" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="BlogCategories">
      <BlogCategory id="1091" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2015-09-13T01:11:16" updateDate="2015-09-13T21:55:39" nodeName="Business" urlName="business" path="-1,1087,1089,1091" isDoc="" nodeType="1057" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="BlogCategory" />
      <BlogCategory id="1092" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2015-09-13T01:11:27" updateDate="2015-09-13T21:55:39" nodeName="Information Tech" urlName="information-tech" path="-1,1087,1089,1092" isDoc="" nodeType="1057" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="BlogCategory" />
    </BlogCategories>
  </BlogExtras>
</root>