<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>BlogMomentum</Name>
  <FileName>
  </FileName>
  <Content><![CDATA[body {
			padding-top: 90px;
			color: #625147;
		}

		a {
			color: #C83B0B;
		}

		.navbar {
			min-height: 70px;
		}

		.navbar-inverse {
			background-color: #625147;
		}

			.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
				background-color: #3A302B;
			}

			.navbar-inverse .navbar-nav > li > a {
				color: #B7A896;
			}

		.navbar-brand {
			padding-top: 8px;
			padding-right: 60px;
		}

		.navbar-nav > li > a {
			padding: 24px 15px;
		}]]></Content>
</Stylesheet>