<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Textpage</Name>
    <Alias>Textpage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description />
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>MasterPage</Master>
    <Compositions>
      <Composition>MasterPage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Textpage</Template>
    </AllowedTemplates>
    <DefaultTemplate>Textpage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>